body {
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
  line-height: 1.6em;
}
body header {
  background-color: rgba(17, 14, 14, 0.829);
  padding-top: 12px;
  padding-bottom: 1px;
}
body header nav ul {
  display: flex;
  justify-content: space-around;
}
body header nav ul li {
  list-style: none;
}
body header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
}
body header nav ul li a:hover {
  color: red;
  cursor: pointer;
}
body a {
  color: #fff;
  text-decoration: none;
}
body .error {
  color: red;
  margin-left: 50px;
}
body h1 {
  text-align: center;
  margin-bottom: 20px;
}
body h4 {
  text-align: justify;
}
body .paragraph-carousel {
  width: 1000px;
  height: 100px;
  text-align: justify;
  position: relative;
  left: 140px;
  font-family: sans-serif;
}
body h4 {
  text-align: center;
  font-family: sans-serif;
}
body #container {
  width: 980px;
  margin: 40px auto;
  overflow: hidden;
}
body #container #slider {
  width: 940px;
  height: 350px;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0px;
  border: #666 solid 2px;
  border-radius: 5px;
}
body #container #slider img {
  width: 940px;
  height: 350px;
}
body #container #slider .slide {
  position: absolute;
}
body #container #slider .slide .slide-copy {
  display: none;
}
body .prev-span {
  background-color: #666;
  width: 40px;
  height: 40px;
  position: absolute;
  float: right;
  left: 170px;
  margin-top: 160px;
  border-radius: 40px;
  z-index: 100;
}
body .prev-span #prev {
  padding-top: 12px;
  padding-left: 10px;
}
body .prev-span:hover, body .next-span:hover {
  cursor: pointer;
  background-color: rgb(161, 153, 153);
}
body .next-span {
  background-color: #666;
  width: 40px;
  height: 40px;
  position: absolute;
  float: left;
  right: 210px;
  margin-top: 160px;
  border-radius: 40px;
  z-index: 100;
}
body .next-span #next {
  padding-top: 12px;
  padding-left: 10px;
}
body form {
  border: 2px solid black;
  position: relative;
  left: 450px;
  width: 500px;
  height: auto;
}
body form #name {
  width: 400px;
  margin-left: 50px;
  border-radius: 5px;
  background-color: rgb(211, 203, 203);
}
body form #date {
  width: 400px;
  margin-left: 50px;
  border-radius: 5px;
  background-color: rgb(211, 203, 203);
}
body form #email {
  width: 400px;
  margin-left: 50px;
  border-radius: 5px;
  background-color: rgb(211, 203, 203);
}
body form #telp {
  width: 400px;
  margin-left: 50px;
  border-radius: 5px;
  background-color: rgb(211, 203, 203);
}
body form .gender {
  margin-top: 10px;
  margin-left: 50px;
}
body form .life {
  margin-left: 50px;
}
body form .input-length {
  margin-top: 10px;
  margin-left: 50px;
  border-radius: 5px;
}
body form #submit {
  position: relative;
  left: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}
body form .input-email {
  margin-left: 50px;
  margin-top: 10px;
  border-radius: 5px;
}
body form .input-name {
  margin-left: 50px;
}
body form .input-lahir {
  margin-left: 50px;
}
body form #photo {
  margin-left: 100px;
  background-color: rgb(211, 203, 203);
}
body form #show {
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}
body form .paragraph-priview {
  text-align: center;
  margin-top: 40px;
}
body form #address {
  margin-left: 50px;
  background-color: rgb(211, 203, 203);
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
